/* Inicio da versão Mobile */
.banner{
    background: var(--color-gradient);
    color: var(--color-white);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo{
    font-size: 18px;
    font-weight: 700;
}

.banner__texto{
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa{
    background-color: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    border-radius: 24px;
    padding: 1em;
    width: 90%;
}

.banner__pesquisa::placeholder{
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--color-white);
    background: url("../assets/icons/Lupa.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 5%;
}

/* Fim da versão Mobile */
/* Inicio da versão Tablet 1024PX */

@media screen and (min-width: 1024px) {
    .banner__titulo{
        font-size: 36px;
    }

    .banner__pesquisa{
        width: 50%;
    }

    .banner__pesquisa::placeholder{
        background-position: 10%;
    }

}

/* Fim da versão Tablet 1024PX */
/* Inicio da versão Desktop 1728PX */

@media screen and (min-width: 1728px) {

    .banner {
        padding: 6em 0;
    }

    .banner__pesquisa {
        width: 35%;
    }

    .banner__pesquisa::placeholder {
        background-position: 10%;
}
   
    
    }
    /* Fim da versão Desktop 1728PX */