/* Inicio da versão Mobile */
.card__container{
    padding: 2em;
}
.card {
    background-color: rgb(249, 249, 249);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
   
    padding: 1em;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.descricao__titulo {
    color: var(--color-tertiary);
    font-weight: 700;
    padding-top: 0.5em;
}

.descricao__titulo-livro {
    color: var(--color-primary);
    font-weight: 700;

    font-size: 18px;
    margin: 0.5em 0;
}

.descricao__texto {
    font-size: 14px;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.botoes__item {
    margin: 0 .7em;
}

.botoes__ancora {
    background-color: var(--color-tertiary);
    padding: 1em 2.2em;
    color: var(--color-white);
    font-weight: 700;
    text-decoration: none;
}

/* Fim da versão Mobile */
/* Inicio da versão Tablet 1024PX */

@media screen and (min-width: 1024px) {

    .card {
        width: 40%;
        margin: auto;

    }

}

/* Inicio da versão Desktop 1728PX */

@media screen and (min-width: 1728px) {

    .card {
        width: 120%;
        margin-left: 3em;
    }

    .descricao{
        margin-right: 2em;
    }

    .descricao__titulo {
        font-size: 32px;
    }

    .descricao__texto {
        font-size: 16px;
    }

}

/* Fim da versão Desktop 1728PX */