/* Inicio da vers達o Mobile */
.contato{
    background-color: var(--color-white);
    padding: 1em;
}

.contato__titulo, .contato__texto{
    background: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo{
    font-size: 18px;
    font-weight: 500;
}

.contato__texto{
    font-weight: 300;
    margin: 1em 0;
}

.contato__email{
    padding: 1em;
    border: 1px solid var(--color-primary);
    border-radius: 24px;
    width: 90%;
    color: var(--color-primary);
}

.contato__email::placeholder{
    color: var(--color-primary);
    font-family: var(--font-primary);
    background: url(/assets/icons/Email.svg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 1em;
    padding-left: 3em;
}

/* Fim da vers達o Mobile */
/* Inicio da vers達o Tablet 1024PX */

@media screen and (min-width: 1024px) {
    .contato{
        display: flex;
        justify-content: center;
        align-items: center;
    }    

    .contato__descricao{
        margin-right: 1em ;
        width: 30%;
        padding-top: 1em;
    }

        .contato__titulo{
        font-size: 24px;
    }

    .contato__texto{
        font-size: 18px;
    }

    .contato__email{
        width: 30%;
    }

}

/* Fim da vers達o Tablet 1024PX */
