/* Inicio da versão Mobile */
.header__menu-hamburguer{
    background-image: url(../assets/icons/Menu.svg);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.header{
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1rem;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 50vw;
   
}

.container__botao:checked~.lista-menu{
    display: block;
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1rem;
    background-color:  var(--color-white);
    text-transform: uppercase;
}

.lista-menu__titulo{
    color: var(--color-tertiary);
    font-weight: 700;
}

.lista-menu__link{
    background: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container__botao{
    display: none;
}

.container__titulo{
    display: none;
}

.opcoes{
    display: none;
}


.container__texto{
    display: none;
}

/* Fim da versão Mobile */
/* Inicio da versão Tablet 1024PX */

@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--font-secondary);
        font-size: 30px;
        padding-top: .3em;
    }
    .container__titulo {
        font-weight: 400;
        display: inline-block;
    }
    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 2em;
        text-transform: uppercase;
    }
    
    .opcoes__link{
        text-decoration: none;
        color: var(--color-black);
    }

    .opcoes__botao:checked~.lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }

    .container__imagem-icon-hide{
        display: none;
    }

    .container__texto{
        display: none;
    }

}



/* Fim da versão Tablet 1024PX */
/* Inicio da versão Desktop 1728PX */

@media screen and (min-width: 1728px) {


.header{
    padding: 0 2em;
}

.opcoes{
    margin-right: auto;
}

.container__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-black);
}

.container__texto {
    display: block;
}

}
/* Fim da versão Desktop 1728PX */