/* Inicio da versão Mobile */
.header__menu-hamburguer{
    background-image: url(../assets/icons/Menu.svg);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.header{
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1rem;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 70vw;
}

.container__botao:checked~.lista-menu{
    display: block;
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1rem;
    background-color:  var(--color-white);
    text-transform: uppercase;
}

.lista-menu__titulo{
    color: var(--color-tertiary);
    font-weight: 700;
}

.lista-menu__link{
    background: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container__botao{
    display: none;
}

/* Fim da versão Mobile */
/* Inicio da versão Tablet 1024PX */

@media screen and(min-width: 1024px) {}



/* Fim da versão Tablet 1024PX */