/* Inicio da versão Mobile */
.topicos {
    background: var(--color-gradient);
    text-align: center;
    padding: 1em 2vw;
}

.topicos__titulo {
    color: var(--color-white);
    font-weight: 300;
    margin-bottom: 1em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item {
    margin: 2em 0.5em;
}

.topicos__link {
    color: var(--color-white);
    padding: 1em;
    background-color: var(--color-tertiary);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

/* Fim da versão Mobile */
/* Inicio da versão Tablet 1024PX */

@media screen and (min-width: 1024px) {
    .topicos{
        padding: 3em 5vW;
    }

    .topicos__titulo {
        font-size: 20px;
    }

    .topicos__item {
        margin: 3em 1em;
    }

    .topicos__link{
        font-size: 24px;
        font-weight: 300;
    }

}

/* Fim da versão Tablet 1024PX */
/* Inicio da versão Desktop 1728PX */

@media screen and (min-width: 1728px) {
    .topicos{
        padding: 3em 30vW;
    }

    }
    /* Fim da versão Desktop 1728PX */